@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(108.18deg, #201606 2.46%, #000000 99.84%);
  font-family: 'Afacad', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
  border: #ffffff22;
}
